.container{
  width: 100%;
  height: 100%;
}

.content{
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.joinRoomForm{
  margin-top: 1.5rem;
  width: 100%;
}

.formInput{
  width: 100%;
  margin-bottom: .5rem;
  padding: 1rem .8rem;
  border: 1px solid #a6a6a6;
  font-size: 1rem;
}

.formInput:last-of-type {
  margin-bottom: 1rem;
}

.heading {
  margin-top: 1rem;
}